.navHome{
    background-color: #fadfb1;
    height: 60px;
}

.navHome_a{
    display: block;
    position: relative;
    margin: auto auto;
    padding: 10px 0;
    top: 20%;
    width: 180px;
    height: 20px;
    border: 1px solid #727272;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: #282c34;
}