.taskConteiner{
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
}

.taskDiv{
    width: 70%;
    padding: 5px;
}

.taskDiv>h2{
    margin: 5px 10px;
}

.taskDiv>div{
    margin: 10px 10px;
}

.taskAction{
    width: 30%;
    display: flex;
    float: right;
}

.taskAction>div{
    width: 33%;
    height: auto;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: none;
    display: block;
    color: #282c34;
    white-space: normal;
}

.actionBtn{
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 40%;
    border: none;
    color: #282c34;
}

.taskBtnStatus{
    background-color: #f8f69f;
}

.taskBtnStatusDone{
    background-color: #a1d789;
    color: #8d8c8c;
}

.hover:hover a, .hover:hover{
    background-color: #f59c82;
}

.taskBtnEdit{
    background-color: #fcd3b4;
}

.taskBtnDelete{
    background-color: #f6ad9e;
}